$black              : #000000;
$concrete           : #f3f3f3;
$flush-orange       : #ff7400;
$gallery            : #ededed;
$mine-shaft         : #282828;
$mine-shaft--darker : shade($mine-shaft, 12);
$white              : #ffffff;
