$black              : #000000;
$clementine         : #ee6c00;
$concrete           : #f3f3f3;
$dove-gray          : #656565;
$flush-orange       : #ff7400;
$gallery            : #ededed;
$mine-shaft         : #282828;
$mine-shaft--darker : shade($mine-shaft, 12);
$tundora            : #404040;
$white              : #ffffff;
