// =============================================================================
// GLOBAL
// =============================================================================

// GLOBAL - Transition
$transition-properties : cubic-bezier(0.23, 1, 0.32, 1) 0.28s;
// =============================================================================

// =============================================================================
// NAVIGATION
// =============================================================================

// NAVIGATION - Colors
$nav-highlight__link       : rgba($white, 0.5);
$nav-highlight__link-event : rgba($white, 0.7);
$nav-general__link         : rgba($white, 0.3);
$nav-general__link-event   : rgba($white, 0.5);

$nav-light-highlight__link       : rgba($mine-shaft--darker, 0.5);
$nav-light-highlight__link-event : rgba($mine-shaft--darker, 0.7);
$nav-light-general__link         : rgba($mine-shaft--darker, 0.6);
$nav-light-general__link-event   : rgba($mine-shaft--darker, 0.8);
// =============================================================================

// =============================================================================
// BUTTONS
// =============================================================================

// BUTTONS - Base properties
$border-radius: rem(3);
$border-width: rem(1);
$border-style: solid;
// =============================================================================

// =============================================================================
// ALIASES
// =============================================================================

// ALIASES - Colors
$main-color: $clementine;
// =============================================================================
