/// Breakpoints in a easy way
/// @access public
/// @param {String} $class - apply a media query between: xs, sm, md and lg
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: rem(500)) { @content; }
  } @else if $class == sm {
    @media (min-width: rem(501)) and (max-width: rem(768)) { @content; }
  } @else if $class == md {
    @media (min-width: rem(769)) and (max-width: rem(992)) { @content; }
  } @else if $class == lg {
    @media (min-width: rem(993)) and (max-width: rem(1240)) { @content; }
  } @else if $class == xl {
    @media (min-width: rem(1241)) { @content; }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

/// Wrap an element in a container
/// @access public
/// @param {Number} $max-width [rem(1240)] - container's max-width
/// @param {String} $display [null] - display type. Display equals to
/// 'inline-block', $center will not have effect
/// @param {Boolean} $center [true] - center the container or not.
@mixin container($max-width: rem(1240), $display: null, $center: true) {
  display: $display;
  width: 100%;
  max-width: $max-width;
  @if $display != 'inline-block' and $center {
    margin-right: auto;
    margin-left: auto;
  }
}

/// Padding in rem with shorthand or long syntax
/// @access public
/// @param {List} $paddings - values to be converted
/// @param {Boolean} $shorthand [true] - shorthand or long syntax
/// @return {Padding}
@mixin pad($paddings, $shorthand: true) {
  $orientations: top right bottom left;

  @if $shorthand {
    @each $value in $paddings {
      $paddings: set-nth($paddings, index($paddings, $value), rem($value));
    }
    padding: $paddings;
  } @else {
    @for $i from 1 through length($paddings) {
      @if nth($paddings, $i) != x {
        padding-#{nth($orientations, $i)}: rem(nth($paddings, $i));
      }
    }
  }
}

/// Replacement to '-9999px' hacking to hide text
/// @access public
@mixin hide_text() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/// Generate a clearfix
/// @access public
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

/// Add properties to the common events (active, focus and hover)
/// @access public
/// @param {Boolean} $self [false] - affects or not the element and its events
@mixin on-event($self: false) {
  @if $self {
    &,
    &:active,
    &:focus,
    &:hover {
      @content;
    }
  } @else {
    &:active,
    &:focus,
    &:hover {
      @content;
    }
  }
}
